
  <h1
      class="text-2xl font-light text-slate-800 flex items-bottom space-x-2 text-center"
        >
          <span>Going.bg</span><small class="rounded-md border px-2">LLC</small>
        </h1>
        <div>
          <ul class="text-left list-image-[url(/static/img/check.svg)] p-6 ">
  <li>Have an idea you need help developing?</li>
  <li>Want to customize a website?</li>
  <li>Too busy to manage an Atlas install?</li>
  <li>NextJS/Remix/Python/C# Development?</li>
</ul>
  </div>


            <a class="text-left outline outline-2 outline-offset-2 border border-slate-300 outline-amber-500/50 p-6 rounded-lg bg-white flex  space-x-6" href="https://cal.com/christopherpickering/30min?duration=15" target="_blank">{% include "src/_includes/svg/calendar.html" %}<span>Schedule a call</span></a>





