<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
            {% metagen
                title=title or metadata.title or site.title,
                desc=desc or description or metadata.desc or metadata.description or site.description,
                url=site.url + page.url,
                img=image or site.url + "/static/img/me.jpg",
                img_alt=alt or "Christopher Pickering",
                twitter_card_type=type,
                twitter_handle=twitter,
                name="Christopher Pickering"
            %}
        {% endblock meta %}
        <meta property="og:locale" content="en_US" />
        <meta property="article:author" content="Christopher Pickering" />
        <meta name="robots" content="index,follow" />
        <meta name="googlebot" content="index,follow" />
        <link rel="icon" sizes="192x192" href="/static/img/logo-192x192.png" />
        <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png" />
        <!-- critical css is inlined, so we can async the rest -->
        <link rel="preload" href="/static/css/site.css" as="style" onload="this.rel='stylesheet'">
    </head>
    <body>
        <section class="is-flex-grow-1">
            {% block body %}
                {{ content | safe }}
            {% endblock body %}
        </section>
    </body>
</html>
