<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
      {% metagen
        title=title or site.title,
        desc=desc or description  or site.description,
        url=site.url + page.url,
        img=image or site.url + "/static/img/me.jpg",
        img_alt=alt or "Christopher Pickering",
        twitter_card_type=type,
        twitter_handle=twitter,
        name="Christopher Pickering"
      %}
    {% endblock meta %}
    <meta property="og:locale" content="en_US" />
    <meta property="article:author" content="Christopher Pickering" />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="alternate" href="{{ site.feed.path | url }}" type="application/atom+xml" title="{{ site.title }}">
    <link rel="alternate" href="{{ site.jsonfeed.path | url }}" type="application/json" title="{{ site.title }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    {% block scripts %}{% endblock scripts %}
    <link rel="stylesheet" href="/static/css/style.css?v={% version %}"/>
     <script>
    // Remove this script if you don't need the dark mode toggle
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {

        document.documentElement.classList.add('dark')

      } else {
        document.documentElement.classList.remove('dark')
      }

      const toggleDarkMode = function(){
        if (document.documentElement.classList.contains('dark')) {
          document.documentElement.classList.remove('dark');
          localStorage.theme = 'light';
        } else {
          document.documentElement.classList.add('dark')
          localStorage.theme = 'dark'
        }
      };

      const forgetPref = function(){
        localStorage.removeItem('theme')
        window.location.reload()
      }
      </script>
    {% jsonLdScript meta, type, tags %}
  </head>
  <body class="dark:bg-zinc-800 dark:text-white">

  <section class="flex flex-col min-h-screen px-4">

    {% include "nav.njk" %}
      {% block body %}
          {{ content | safe }}
      {% endblock body %}
  </section>
  {# background image #}
  <div class="-z-10 fixed top-0 bottom-0 min-h-screen min-w-full aspect-[4/3] opacity-20">{% image "./src/static/img/bg.jpg", "location", "(min-width:600px) 80vw, 100vw", "min-h-screen min-w-full aspect-[4/3]", "eager", "auto" %}</div>


    <script>(function(){var $navbarBurgers=Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'),0);$navbarBurgers.forEach(function(el){el.addEventListener('click',function(){var target=el.dataset.target;var $target=document.getElementById(target);el.classList.toggle('is-active');$target.classList.toggle('is-active')})});})();</script>

  </body>
</html>
