
    {% if page.url !="/" %}
      <nav class="py-6">
      <div class="container mx-auto">
      <span class="font-medium text-slate-400 mr-2">/</span><a href="/" class="font-medium">Land and Sea</a>
      <div id="going-bg-nav" class="navbar-menu">
        <div class="navbar-end">
          {# <div class="navbar-item">
            <a class="is-flex has-text-grey has-text-weight-medium" data-umami-event="tips" href="{{ '/posts/' | url }}"><figure class="image is-24x24 is-inline-block mr-3">{% image "./src/static/img/tips.png", "tips", "(min-width:30px) 50vw, 100vw", "", "lazy", "async" %}</figure>Tips</a>
            </div>
          <div class="navbar-item">
            <a class="is-flex has-text-grey has-text-weight-medium" data-umami-event="github" href="https://github.com/christopherpickering" target="_blank" rel="noopener"><figure class="image is-24x24 is-inline-block mr-3">{% image "./src/static/img/github.png", "github", "(min-width:30px) 50vw, 100vw", "", "lazy", "async" %}</figure>GitHub</a>
          </div>
          <div class="navbar-item">
            <a class="is-flex has-text-grey has-text-weight-medium" data-umami-event="linkedin" href="https://www.linkedin.com/in/christopher-pickering/" target="_blank" rel="noopener"><figure class="image is-24x24 is-inline-block mr-3">{% image "./src/static/img/linkedin.png", "linkedin", "(min-width:30px) 50vw, 100vw", "", "lazy", "async" %}</figure>LinkedIn</a>
          </div>
          <div class="navbar-item">
            <a class="is-flex has-text-grey has-text-weight-medium" data-umami-event="email" href="mailto:"><figure class="image is-24x24 is-inline-block mr-3">{% image "./src/static/img/mail.png", "email", "(min-width:30px) 50vw, 100vw", "mail-icon", "lazy", "async" %}</figure>Email</a>
          </div> #}
        </div>
      </div>
      </div>
</nav>

    {% endif %}
