---
layout: layout.njk
eleventyNavigation:
  key: Home
  order: 1
---
{%  block body %}
  <section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <div class="level py-5">
          <div class="columns is-vcentered">
            <div class="column is-narrow ">
              <figure class="image is-128x128 mx-auto">
                {% image "./src/static/img/me.jpg", "me", "(min-width:600px) 50vw, 100vw", "is-rounded", "eager", "auto" %}
              </figure>
            </div>
            <div class="column">
              <h1 class="title is-2 has-text-weight-light has-text-grey-darker">Hi, I'm <wbr>Christopher Pickering</h1>
              <p class="subtitle">Data engineer & <wbr>Full stack developer. <wbr>On the road.</p>
              <div class="level is-justify-content-flex-start">
                <a class="is-flex has-text-grey-darker has-text-weight-medium mr-5 mb-3" href="{{ '/posts/' | url }}"><figure class="image is-24x24 is-inline-block mr-3">{% image "./src/static/img/tips.png", "tips", "(min-width:30px) 50vw, 100vw", "", "lazy", "async" %}</figure>Tips</a>
                <a class="is-flex has-text-grey-darker has-text-weight-medium mr-5 mb-3" href="https://github.com/christopherpickering" target="_blank" rel="noopener"><figure class="image is-24x24 is-inline-block mr-3">{% image "./src/static/img/github.png", "github", "(min-width:30px) 50vw, 100vw", "", "lazy", "async" %}</figure>GitHub</a>
                <a class="is-flex has-text-grey-darker has-text-weight-medium mr-5 mb-3" href="https://www.linkedin.com/in/christopher-pickering/" target="_blank" rel="noopener"><figure class="image is-24x24 is-inline-block mr-3">{% image "./src/static/img/linkedin.png", "linkedin", "(min-width:30px) 50vw, 100vw", "", "lazy", "async" %}</figure>LinkedIn</a>
                <a class="is-flex has-text-grey-darker has-text-weight-medium mr-5 mb-3" href="mailto:christopher@going.bg"><figure class="image is-24x24 is-inline-block mr-3">{% image "./src/static/img/mail.png", "email", "(min-width:30px) 50vw, 100vw", "mail-icon", "lazy", "async" %}</figure>Email</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{%  endblock  %}
