---
layout: layout.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% block body %}
<section class="grow flex py-6">
  <div class="container m-auto space-y-10">
    <div class="md:flex space-x-6 space-y-5 md:space-y-0">
      <div class="w-auto">
        <figure
          class="opacity-100 rounded-full h-32 w-32 mx-auto outline outline-2 outline-offset-2 border border-slate-300 outline-amber-500/50"
        >
          {% image "./src/static/img/me.jpg", "me", "(min-width:600px) 50vw,
          80vw", "rounded-full", "eager", "auto" %}
        </figure>
      </div>
      <div class="grow space-y-2">
        <h1
          class="text-2xl font-light text-slate-800 flex items-center space-x-2"
        >
          Hi, I'm <wbr />Christopher Pickering {% include
          'src/_includes/svg/verified.html' %}
        </h1>
        <div>
          <p class="font-medium">
            Data engineer & <wbr />Full stack developer. <wbr />On the road.
          </p>
          <div class="flex  space-x-4 flex-wrap">
            <button
              class="border border-slate-300 bg-white/60 rounded py-1 px-2 flex text-slate-700 font-medium outline outline-2 outline-offset-2 outline-amber-500/50 mt-6 group relative"
              {# href="{{ '/hire-me/' | url }}" #}
            >
              <figure class="h-4 w-4 mr-2">
                {% include 'src/_includes/svg/share.html' %}
              </figure>
              Hire Me
              <div class=" top-full absolute hidden group-hover:block ">
              <div class="w-fit p-6 mt-3 opacity-0 transition-opacity group-hover:opacity-100 rounded-md border bg-white">
              {% include 'src/_includes/hire-me.njk' %}
              </div></div>
              </button
            >
            <a
              class="flex text-slate-700 font-medium py-1 mt-6"
              href="{{ '/posts/' | url }}"
            >
              <figure class="h-4 w-4 mr-2 text-slate-500">
                {% include 'src/_includes/svg/milestone.html' %}
              </figure>
              Tips</a
            >
            <a
              class="flex text-slate-700 font-medium py-1 mt-6"
              href="https://github.com/christopherpickering"
              target="_blank"
              rel="noopener"
            >
              <figure class="h-4 w-4 mr-2 text-slate-500">
                {% include 'src/_includes/svg/github.html' %}
              </figure>
              GitHub</a
            >
            <a
              class="flex text-slate-700 font-medium py-1 mt-6"
              href="https://www.linkedin.com/in/christopher-pickering/"
              target="_blank"
              rel="noopener"
            >
              <figure class="h-4 w-4 mr-2 text-slate-500">
                {% include 'src/_includes/svg/linkedin.html' %}
              </figure>
              LinkedIn</a
            >
          </div>
        </div>
      </div>
    </div>
    <div >
    <h2 class="text-2xl font-light text-slate-800 flex items-center mb-4">Recent Projects</h2>
    <div class="grid gap-4 md:grid-cols-2 xl:grid-cols-3">
      <a href="https://djlint.com" target="_blank" class="rounded-lg border border-slate-300 hover:outline hover:outline-amber-500/20 hover:shadow hover:shadow-amber-500/20 bg-white p-4 space-y-4">
        <div class="flex space-x-2 items-center">{% include 'src/_includes/svg/link.html' %}<h3 class="font-medium text-lg text-blue-600">djLint</h3> <p class="font-light">Lint & Format HTML Templates</p></div>
        <div class="h-[100px] w-auto">
          {% image "./src/static/img/djlint.png", "djlint", "(min-width:600px) 50vw,
          80vw", "h-[100px] w-auto", "eager", "auto" %}</div>
      </a>
      <a href="https://www.atlas.bi" target="_blank" class="rounded-lg border border-slate-300 hover:outline hover:outline-amber-500/20 hover:shadow hover:shadow-amber-500/20 bg-white p-4 space-y-4">
        <div class="flex space-x-2 items-center">{% include 'src/_includes/svg/link.html' %}<h3 class="font-medium text-lg text-blue-600">Atlas</h3> <p class="font-light">Analytics solutions for healthcare </p></div>
        <div class="h-[100px] w-auto">
          {% image "./src/static/img/atlas-logo.png", "atlas", "(min-width:600px) 50vw,
          80vw", "h-[100px] w-auto", "eager", "auto" %}</div>

      </a>
      </div>
  </div>
</section>

{% endblock %}
