---
layout: layout.njk
---

{%  block body %}

<section class="hero is-fullheight">
<figure class="background">{% image "./src/static/img/bg.jpg", "location", "(min-width:600px) 50vw, 100vw", "", "eager", "auto" %}</figure>
  <div class="hero-head">
  <div class="container">
    <h1 class="title is-3 has-text-weight-light has-text-grey-darker mr-4 has-text-right">go <figure class="location image is-32x32 is-inline-block">{% image "./src/static/img/location.png", "location", "(min-width:600px) 50vw, 100vw", "", "eager", "auto" %}</figure> or go home</h1>
  </div>
  </div>
  <div class="hero-body ">

<div class="container">
    <div class="level py-5">
    <div class="columns is-vcentered">
      <div class="column is-narrow ">
        <figure class="image is-128x128 mx-auto">
          {% image "./src/static/img/me.jpg", "me", "(min-width:600px) 50vw, 100vw", "is-rounded", "eager", "auto" %}
        </figure>
      </div>
      <div class="column">
        <h1 class="title is-2 has-text-weight-light has-text-grey-darker">Hi, I'm Christopher Pickering</h1>
        <p class="subtitle">Data Engineer & Full stack developer. On the road.</p>
        <div class="level is-justify-content-flex-start">
        <a class="is-flex has-text-grey-darker has-text-weight-medium mr-5" href="http://christophers.tips/"><figure class="image is-24x24 is-inline-block mr-2">{% image "./src/static/img/tips.png", "tips", "(min-width:30px) 50vw, 100vw", "", "lazy", "async" %}</figure>Tips</a>
         <a class="is-flex has-text-grey-darker has-text-weight-medium mr-5" href="https://github.com/christopherpickering"><figure class="image is-24x24 is-inline-block mr-2">{% image "./src/static/img/github.png", "github", "(min-width:30px) 50vw, 100vw", "", "lazy", "async" %}</figure>GitHub</a>

    <a class="is-flex has-text-grey-darker has-text-weight-medium mr-5" href="https://www.linkedin.com/in/christopher-pickering/"><figure class="image is-24x24 is-inline-block mr-2">{% image "./src/static/img/linkedin.png", "linkedin", "(min-width:30px) 50vw, 100vw", "", "lazy", "async" %}</figure>LinkedIn</a>
     <a class="is-flex has-text-grey-darker has-text-weight-medium mr-5" href="mailto:christopher@going.bg"><figure class="image is-24x24 is-inline-block mr-2">{% image "./src/static/img/mail.png", "email", "(min-width:30px) 50vw, 100vw", "mail-icon", "lazy", "async" %}</figure>Email</a>

     </div>
      </div>
    </div>
    </div>

    </div>

  </div>
</section>
{%  endblock  %}