---
layout: layout.njk
---



{% block body %}

<section class="grow flex py-6">
  <div class="container m-auto space-y-10">

<div class="flex gap-0 text-4xl max-sm:text-xl justify-center pb-8 md:pb-16">
  <span class="italic bg-clip-text text-transparent bg-gradient-to-r from-blue-900 to-purple-500 dark:from-orange-500 dark:to-yellow-600 whitespace-nowrap">Jesus came...&nbsp;</span>

   <section class="embla">
      <div class="embla__viewport">
        <div class="embla__container">
          <div class="embla__slide">
            <div class="font-light">to heal the <strong class="dark:text-yellow-600">broken hearted</strong></div>
          </div>
          <div class="embla__slide">
            <div class="font-light">to give liberty to <strong class="dark:text-yellow-600">captives</strong></div>
          </div>
          <div class="embla__slide">
            <div class="font-light">to open the eyes of the <strong class="dark:text-yellow-600">blind</strong></div>
          </div>
          <div class="embla__slide">
            <div class="font-light">to raise up the <strong class="dark:text-yellow-600">bowed down</strong></div>
          </div>
          <div class="embla__slide">
            <div class="font-light">to give hearing to the <strong class="dark:text-yellow-600">deaf</strong></div>
          </div>
          <div class="embla__slide">
            <div class="font-light">to bring good news to the <strong class="dark:text-yellow-600">poor</strong></div>
          </div>
          <div class="embla__slide">
            <div class="font-light">to give food to the <strong class="dark:text-yellow-600">hungry</strong></div>
          </div>
          <div class="embla__slide">
            <div class="font-light">to wipe away the <strong class="dark:text-yellow-600">tears of the oppressed</strong></div>
          </div>

          <div class="embla__slide">
            <div class="font-light">bringing <strong class="dark:text-yellow-600">light and life</strong></div>
          </div>

        </div>
      </div>


    </section>
   <script src="/static/js/bundle.js"></script>
</div>
  <div class="flex gap-6 flex-col">
  <p class="mx-auto text-lg pb-8">
    By bearing our sins on the cross, the just for the unjust. That we might believe on Him and be saved.
</p>
<p>
   Our world, drunk on media, obsessed with sensuality, filled with unparalleled killing and violence, where people are starving, hating, and hiding. What happened since creation when God said "it was very good?" God puts his finger on the problem: "Just as they did not see fit to acknowledge God any longer, God gave them over to a depraved mind, to do those things which are not proper, being filled with all unrighteousness, wickedness, greed, evil; full of envy, murder, strife, deceit, malice; they are gossips, slanderers, haters of God, insolent, arrogant, boastful, inventors of evil, disobedient to parents, without understanding, untrustworthy, unloving, unmerciful; and although they know the ordinance of God, that those who practice such things are worthy of death, they not only do the same, but also give hearty approval to those who practice them.
</p>
<p>
   What an awful thing. So we all have our part in the terribleness of our world, we've all sinned, we can't just point the finger at the leaders. But you know, pretty soon, the world and all its wickedness will be destroyed in fire and we will all be taken before the judgment seat to give an account of our actions. Are you ready for this day?
</p>
<p>
   There is a way of escape from the judgement coming! God, who is rich in mercy, is not wishing for any to perish. He so loved the world, that He gave His only begotten Son, that whoever believes in Him shall not perish, but have eternal life. God sent His only Son Jesus to die in our place. He carried our sins on the cross, and died, one time for everyone, to bring us to God!
</p>
<p>
   This simple message of good news is the power of God to salvation for everyone who believes!
</p>
</div>

<p class="text-sm text-slate-600 dark:text-slate-400 text-center">
   Genesis 1:31 &#183; Romans 1:28-32 &#183; Romans 3:23 &#183; 2 Peter 3:10 &#183; 2 Corinthians 5:10 &#183; Ephesians 2:4 &#183; 2 Peter 3:9 &#183; John 3:16 &#183; Acts 16:31 &#183; 1 Peter 2:24 &#183; 1 Peter 3:18 &#183; Romans 1:16
   </p>


<div class="flex flex-col gap-8">
<hr class="border-black/20 dark:border-slate-400"/>
<div class="flex flex-col gap-2 md:flex-row md:gap-6">
<a class="text-blue-700 dark:text-blue-300" href="https://gtpress.org" target="_blank">Gospel Tracts</a>
<a class="text-blue-700 dark:text-blue-300" href="https://bible.house" target="_blank">Bibles</a>
<a class="text-blue-700 dark:text-blue-300" href="https://un-temps-pour-apprendre.jimdosite.com/" target="_blank">Homeschool Curriculum</a>
<a class="text-blue-700 dark:text-blue-300" href="http://mathetria.com/" target="_blank">Mathetria Magazine</a>
</div>
</div>

</div>

</section>

{% endblock %}
