---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
title: Tags
description: List of tags used on Christopher's Tips.
---

<section class="grow flex py-6">
<div class="container mx-auto flex flex-col md:flex-row">

        <div class="w-full md:w-2/3">
                <h1 class="text-2xl font-light text-slate-800 flex items-center space-x-2">Tips Tagged “{{ tag }}”</h1>

                {% set postslist = collections[ tag ] %}
            {% include "postslist.njk" %}




            <p><a href="{{ '/posts/' | url }}" class="text-blue-700">See all</a>.</p>
          </div>

      </div>
</section>
