---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
title: Tags
description: List of tags used on Christopher's Tips.
---

<section class="grow flex py-6">
<div class="container mx-auto flex flex-col md:flex-row">

        <div class="w-full md:w-2/3">
               <div class="flex space-x-4"><a href="{{ '/posts/' | url }}" class="rounded-md bg-white/50 border px-2 m-1 hover:outline hover:outline-2 hover:outline-offset-2 hover:outline-amber-500/50 flex space-x-2 my-auto text-slate-600 hover:text-slate-900 transition-colors">{% include "src/_includes/svg/undo.html" %}<span>All Tips</span></a><h1 class="text-2xl font-light text-slate-800 flex items-center space-x-2 dark:text-slate-300">Tips Tagged “{{ tag }}”</h1></div>

                {% set postslist = collections[ tag ] %}
            {% include "postslist.njk" %}





          </div>

      </div>
</section>
